# App
PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=nexandria
POSTGRES_PASSWORD=nexandria
POSTGRES_DB=nexandria
POSTGRES_PORT=5432
DATABASE_URL="postgresql://nexandria:nexandria@localhost:5432/nexandria?schema=public"

# Redis
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"
